doc-disk/scenario-1-flow.json
[
    {
        "id": "bf5d1f9a.cae92",
        "type": "tab",
        "label": "Místnost - prostředí",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5a8a063a.2bde58",
        "type": "debug",
        "z": "bf5d1f9a.cae92",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "temperature",
        "x": 610,
        "y": 640,
        "wires": []
    },
    {
        "id": "e3d55cb8.aaf5f",
        "type": "ui_text",
        "z": "bf5d1f9a.cae92",
        "group": "d506cac1.c08b38",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Aktuální teplota",
        "format": "{{msg.payload}} °C",
        "layout": "row-center",
        "x": 800,
        "y": 340,
        "wires": []
    },
    {
        "id": "bdf25b2.75d54a8",
        "type": "change",
        "z": "bf5d1f9a.cae92",
        "name": "temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 300,
        "wires": [
            [
                "5f08b841.486188",
                "e3d55cb8.aaf5f",
                "7dcd3247.85e52c"
            ]
        ]
    },
    {
        "id": "88fa4c1c.1a8ac",
        "type": "ui_chart",
        "z": "bf5d1f9a.cae92",
        "name": "",
        "group": "d506cac1.c08b38",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "Průběh ⌀ teploty [°C]",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "35",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#ff7b00",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 980,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "bb878d99.f3ed4",
        "type": "ui_chart",
        "z": "bf5d1f9a.cae92",
        "name": "",
        "group": "d506cac1.c08b38",
        "order": 5,
        "width": "6",
        "height": "4",
        "label": "Průběh ⌀ vlhkosti [%]",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 980,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e09df2f7.ea911",
        "type": "change",
        "z": "bf5d1f9a.cae92",
        "name": "humidity    ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 440,
        "wires": [
            [
                "3295b89c.a53878",
                "56f9a770.ee57c8",
                "b191508a.89cf1"
            ]
        ]
    },
    {
        "id": "56f9a770.ee57c8",
        "type": "ui_text",
        "z": "bf5d1f9a.cae92",
        "group": "d506cac1.c08b38",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Aktuální vlhkost",
        "format": "{{msg.payload}} %",
        "layout": "row-center",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "31b2eaf9.b2ab06",
        "type": "comment",
        "z": "bf5d1f9a.cae92",
        "name": "Měření prostředí v místnosti",
        "info": "",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "5f08b841.486188",
        "type": "aggregator",
        "z": "bf5d1f9a.cae92",
        "name": "⌀ 15 min",
        "topic": "",
        "intervalCount": "5",
        "intervalUnits": "m",
        "submitIncompleteInterval": true,
        "submitPerTopic": true,
        "aggregationType": "mean",
        "x": 780,
        "y": 300,
        "wires": [
            [
                "88fa4c1c.1a8ac"
            ]
        ]
    },
    {
        "id": "3295b89c.a53878",
        "type": "aggregator",
        "z": "bf5d1f9a.cae92",
        "name": "⌀ 15 min",
        "topic": "",
        "intervalCount": "5",
        "intervalUnits": "m",
        "submitIncompleteInterval": true,
        "submitPerTopic": true,
        "aggregationType": "mean",
        "x": 780,
        "y": 440,
        "wires": [
            [
                "bb878d99.f3ed4"
            ]
        ]
    },
    {
        "id": "7dcd3247.85e52c",
        "type": "link out",
        "z": "bf5d1f9a.cae92",
        "name": "teplota jídelny",
        "links": [
            "a65f6690.0d1b28",
            "e0a5701c.6de24"
        ],
        "x": 735,
        "y": 380,
        "wires": []
    },
    {
        "id": "83cb41b9.c17ac",
        "type": "comment",
        "z": "bf5d1f9a.cae92",
        "name": "Export teploty",
        "info": "",
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "2d0c50df.69c16",
        "type": "fis-dht-sensor",
        "z": "bf5d1f9a.cae92",
        "name": "senzor jídelna",
        "node": "e7e1a5d4.c5a168",
        "interval": "30",
        "sensorPort": "4",
        "sensorType": "dht-22",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "bdf25b2.75d54a8",
                "e09df2f7.ea911",
                "5a8a063a.2bde58",
                "e9a0f47f.240328"
            ]
        ]
    },
    {
        "id": "b191508a.89cf1",
        "type": "link out",
        "z": "bf5d1f9a.cae92",
        "name": "vlhkost jídelny",
        "links": [],
        "x": 735,
        "y": 520,
        "wires": []
    },
    {
        "id": "1c131e22.9d0da2",
        "type": "comment",
        "z": "bf5d1f9a.cae92",
        "name": "Export vlhkosti",
        "info": "",
        "x": 840,
        "y": 520,
        "wires": []
    },
    {
        "id": "e9a0f47f.240328",
        "type": "change",
        "z": "bf5d1f9a.cae92",
        "name": "time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 580,
        "wires": [
            [
                "e4d83dd4.85e1a"
            ]
        ]
    },
    {
        "id": "f5a8dfb9.ed736",
        "type": "ui_text",
        "z": "bf5d1f9a.cae92",
        "group": "d506cac1.c08b38",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Poslední aktualizace",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 900,
        "y": 580,
        "wires": []
    },
    {
        "id": "e4d83dd4.85e1a",
        "type": "function",
        "z": "bf5d1f9a.cae92",
        "name": "to time",
        "func": "msg.payload = (new Date(msg.payload)).toLocaleTimeString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 580,
        "wires": [
            [
                "f5a8dfb9.ed736"
            ]
        ]
    },
    {
        "id": "d506cac1.c08b38",
        "type": "ui_group",
        "z": "",
        "name": "Měření",
        "tab": "a05646ed.08dc68",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e7e1a5d4.c5a168",
        "type": "fis-node",
        "z": "",
        "broker": "4cc2da09.0e1204",
        "nodeId": "240ac40f91b0",
        "name": "FIS ESP 1"
    },
    {
        "id": "a05646ed.08dc68",
        "type": "ui_tab",
        "z": "",
        "name": "Místnost",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4cc2da09.0e1204",
        "type": "mqtt-broker",
        "z": "",
        "name": "fis.josefkolar.cz",
        "broker": "fis.josefkolar.cz",
        "port": "1883",
        "clientid": "node-red",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]